<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HELPING_HANDS">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Helping hands"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HELPING_HANDS">
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Users"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Preview"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".EditDetails"
            android:exported="true" />
        <activity
            android:name=".Chat"
            android:exported="true" />
        <activity
            android:name=".Certificate"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity android:name=".profilebd" />
        <activity
            android:name=".bloodbank"
            android:label="Blood bank" />
        <activity
            android:name=".requestsbd"
            android:label="Requests" />
        <activity
            android:name=".hospitalsbd"
            android:label="Labs and hospitals" />
        <activity
            android:name=".Registerbd"
            android:label="Blood donation" />
        <activity android:name=".MainActivity">
            android:label="Helping hands"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>